
<!--This file is made by EmJey-->
<!--Project: Workbook 2.3 and 2.4-->
<!--FileName: sign.html-->
<!--Date: 2023/09/15-->
<!--Email: emjeydev@gmail.com-->
<!--Github: emjeydev-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Traffic Sign</title>
</head>
<body>
    <h2 th:text="${'Speed: ' + speed}"></h2>

<!--    Wrokbook 2.3-->

<!--    <img src="img/slow-down.png" width="200" alt="SlowDown" th:if="${speed > 60}">-->
<!--    <img src="img/speed-limit.png" width="200" alt="SpeedLimit" th:if="${speed < 60}">-->


<!--    Workbook 2.4-->
    <img th:src="${speed > 60 ? 'img/slow-down.png' : 'img/speed-limit.png'}" width="200" alt="SlowDown">

</body>
</html>