<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
</head>
<body>

      <h2>Staff List</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Role</th>
            </tr>
            <tr th:each="emp: ${employee}">
                <td th:text="${emp.name}"></td>
                <td th:text="${emp.age}"></td>
                <td th:text="${emp.role}"></td>
            </tr>
        </table>

</body>
</html>