
<!-- This file is made by EmJey -->
<!-- Project: Workbook 2.7 -->
<!-- FileName: ViewController -->
<!-- Date: 2023/09/25 -->
<!-- Email: emjeydev@gmail.com -->
<!-- Github: emjeydev -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wotkbook 2.7 - Utility Methods</title>
</head>
<body>

    <p style="font-weight: bold" th:text="${myName}"> </p>

    <ul>
        <li th:text="${#strings.substring(myName, 0, 1)}"> </li>
        <li th:text="${#strings.substring(myName, 0, 2)}"> </li>
        <li th:text="${#strings.substring(myName, 0, 3)}"> </li>
        <li th:text="${#strings.substring(myName, 0, 4)}"> </li>
        <li th:text="${#strings.substring(myName, 0, 5)}"> </li>
        <li th:text="${#strings.substring(myName, 0, 6)}"> </li>
        <li th:text="${#strings.substring(myName, 0, 7)}"> </li>
        <li th:text="${#strings.substring(myName, 0, 8)}"> </li>
    </ul>

</body>
</html>